{% extends 'base.html' %}

{% block content %}
  <link href="https://fonts.googleapis.com/css?family=Kanit|Lobster|Nunito|Quicksand" rel="stylesheet">
  <style type="text/css">
    h2, p{
      font-family: 'Lato', sans-serif;
    }
    img{
      float: left;
      padding: 10px;
    }
    .approach{
      padding-top: 50px;
    }
    .member{
      padding-top: 50px;
      padding-bottom: 30px;
    }
    .name{
      font-size: 17pt;
      padding-left: 15px;
    }
    a{
      font-size: 13pt;
    }
    .role{
      color: grey;
      padding-left: 25px;
    }
    #last{
      padding-bottom: 20px;
    }

  </style>
<div class="approach">
  {% load static %}
  <img src="{% static "images/moose_sign.png" %}" alt="moose_sign">
  <h2>Approach</h2>
<p>
  In Finland thousands of traffic accidents, some fatal, occur each year which involve collisions with wild moose.
Warning signs along many roads in Finland alert drivers have to watch out for moose in places where they might try to cross the road.
 When ordinary users meet moose in the road, they report relevant detail such as moose crossing road, collision with a moose etc.
To be specific, when users meet moose, they make a dot in Google Maps and  write it down whether they have collision with moose or not,  how big the moose is and so on.
Also, user can leave comments under their post and share their own opinion. Finally,  In case of hazard zones, it statistically shows how many accidents happened.
 Admin manages information based on user-uploaded data. The more people involved in, the more life we can save.
</p>
</div>

<h2 class="member">Team member</h2>
<p class="name" >Jaekyun Kim <a>(Coordinator)</a></p>
    <p class="role">Integrate team's opinion and manage the overall situation of the project<p>
<p class="name">Haochen Zou <a>(Designer)</a></p>
    <p class="role">Design and configure the program and implement the UI</p>
<p class="name">Nahyun Kim <a>(Planner)</a></p>
  <p class="role">  Plan and manage the project</p>
<p class="name">Jooeun Ahn <a>(Coder)</a></p>
    <p class="role">Lead the coding of the program and distribute the part to the team's ability</p>
<p class="name">Minji Gwon <a>(Tester)</a></p>
    <p class="role">Find defects in the finished program according to the test documentation.</p>
<p class="name" >Dongyeon Lee <a>(Documenter)</a></p>
    <p class="role" id="last">Take charge of the project document and record the meeting contents.</p>


{% endblock %}
