{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <form action="" method="post" class="form" enctype='multipart/form-data'>
      {% csrf_token %}
      <div class="row">
        <div class="col-md-8">
          {% bootstrap_field form.latlng %}
        </div>
        <div class="col-md-4">
          {% bootstrap_field form.description %}
          {% bootstrap_field form.image %}
          {% buttons %}
            <button type="submit" class="btn btn-primary">
              {% bootstrap_icon "star" %} Submit
            </button>
          {% endbuttons %}
        </div>
      </div>

    </form>
{% endblock %}
